[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/fmtlib"]
	path = deps/fmtlib
	url = https://github.com/fmtlib/fmt.git
	branch = release-3.0
